@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "reset.css";

/* Components */
@import "components/status-bar.css";
@import "components/login_step_numbers.css";
@import "components/top-buttons.css";


/* Screens */

body {
  color: #2e3633;
  font-family: 'Open Sans';
  height: 1000vh;
}

