.coverage-level-icon,
.fiveg-icon,
.bettery-icon {
  width: 20px;
}

.status-bar {
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  height: 23px;
}

.status-bar__column {
  width: 50%;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
}
