.top-buttons {
  display: flex;
}

.top-buttons__column {
  width: 50%;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding: 10px 10px 0px 10px;
}

.top-buttons__column:last-child {
  justify-content: flex-end;
}
